<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <script src="js/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css" />
    <link type="text/css" rel="stylesheet" href="styles/main.css" />

    <script src="bootstrap/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
<div class="container">
    <h1>GuestBook</h1>
    <p class="lead">hello world</p>

    <form method="post" action="index.php">

        <div class="form-group">
            <label for="comment">This is the text area</label>
            <textarea id="comment" name="comment" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <?php
        $comments = array_reverse($comments);
        foreach($comments as $comment) {
            echo $comment . "<br>";
            }
    ?>
</div>
</body>

</html>

